body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
}

h2 {
  color : blue;
}

.project {
  background: black;
  color:white;
  text-align:center;
  padding: 10px;
}

#skills ul {
    display: flex;
    gap: 20px;
}